* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #c1801f;
  --secondary-color: #694611;
  --text-color: #fff3b0;
  --buttons-color: #9e2a2b;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: var(--text-color);
  color: var(--text-color);
}
header {
  width: auto;
  height: 100px;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
  background-color: var(--secondary-color);
}
main {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.catalog {
  flex: 2;
  background-color: var(--secondary-color);
  margin-left: 20px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  align-content: center;
}
.cart {
  flex: 1;
  height: 200px;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
}
.products-grid {
  display: flex;
}
.product-card {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.2s;
  margin: 20px;
}
.product-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}
button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  margin-top: 10px;
  background-color: var(--buttons-color);
}
