* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #c1801f;
  --secondary-color: #694611;
  --text-color: #fff3b0;
  --buttons-color: #9e2a2b;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: var(--text-color);
  color: var(--text-color);
}
header {
  width: auto;
  height: 100px;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
  background-color: var(--secondary-color);
}
main {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
